<h1>Admin / Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Registered training sessions</th>
      <th>Joined training sessions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.profile.name, admin_user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.registered_training_sessions.size %></td>
        <td><%= user.joined_training_sessions.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>
