<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%
=begin%>
 <%= stylesheet_link_tag    "admin/application", media: "all" %> 
<%
=end%>
</head>
<body>

<%= yield %>

</body>
</html>
